.mySidenav {
    position: absolute; /* Position them relative to the browser window */
    right:0px; 
    padding: 7px; /* 15px padding */
    opacity: 0.7;
    transition: 0.4s;
  }

  .mySidenav:hover{
    opacity: 1;
    cursor: pointer;
  }